* {
	margin: 0;
}

html 
{
	height: 100%;
}

body 
{
	position: relative;
	height: 100%;
	background-color: #363636;
	margin: 0;
	padding: 0;
}

a:hover {text-decoration: none;}

header
{
	z-index: -1;
}

header>nav.navbar
{
	margin: 0;
	border-radius: 0px;
	border: none;
	background-color: #363636;
	height: 100px;
}

header>nav.navbar button,
header>nav.navbar input
{
	margin-top: 30px;
}

header>nav.navbar div.container-fluid
{
	width: 90%;
}

header a.navbar-brand
{
	margin: 0;
	padding: 0;
	line-height: 100px;
}

nav.navbar-default ul.navbar-nav>li
{
	margin-top: 15px;
	display: block;
	width: 100px;
	height: 70px;
	margin-left: 15px;
	background-color: none;
	transition: background-color 0.3s;
}

nav.navbar-default ul.navbar-nav>li:hover
{
	background-color: #4cd2da;
	transition: background-color 0.3s;
}

nav.navbar-default ul.navbar-nav>li.li-btn button
{
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
}

nav.navbar-default ul.navbar-nav>li.li-btn,
nav.navbar-default ul.navbar-nav>li.li-btn:hover
{
	background: none;
}

nav.navbar-default ul.navbar-nav>li>a
{
	text-align: center;
	width: 60px;
	z-index: 10;
	color: #fff;
	margin: 0;
	padding: 0;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 70px;
	transition: padding-top 0.3s;
}

nav.navbar-default ul.navbar-nav>li>span.glyphicon
{
	text-align: center;
	width: 60px;
	font-size: 1.5em;
	position: absolute;
	z-index: 0;
	opacity: 0;
	top: 25px;
	color: #fff;
	margin: 0;
	padding: 0;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 70px;
	transition: top 0.3s, opacity 0.2s;
}

nav.navbar-default ul.navbar-nav>li:hover>a,
nav.navbar-default ul.navbar-nav>li:focus>a
{
	color: #fff;
	padding-top: 20px;
	transition: padding-top 0.3s;
}

nav.navbar-default ul.navbar-nav>li:hover>span.glyphicon,
nav.navbar-default ul.navbar-nav>li:focus>span.glyphicon
{
	top: -10px;
	opacity: 1;
	transition: top 0.3s, opacity 0.3s;
}

section#SignUp
{
	width: 100%;
	color: #fff;
	padding-top: 90px;
	padding-left: 50px;
	height: 400px;
	background-color: #4cd2da;
	background-image: linear-gradient(30deg, #4cd2da, #4cd2da 50%, #5adae2 50%, #5adae2 100%);
}

section#SignUp p
{
	margin-top: 30px;
	font-size: 3em;
}

.form-signin {
	max-width: 400px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.modal {display:block;}

section#UserInfo
{
	padding: 30px;
	font-size: 1.7em;
}

section#UserInfo .padding
{
	padding: 15px;
}

section#UserInfo p
{
	font-size: 0.7em;
}

section#QuestPop, section#QuestUser
{
	height: 100px;
	margin: 0;
	border-radius: 0px;
	border: none;
	background-color: #363636;
	padding: 0;
	text-align: center;
	color: #fff;
	font-size: 1.3em;
}

span.UserInfoPseudo
{
	margin-top: 30px;
	//display: inline-block;
	color: #fff;
	border-radius: 10px;
	padding: 10px;
	height: 40px;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.75);
}

section#QuestPop span, section#QuestUser span
{
	margin-top: 30px;
	display: inline-block;
	color: #fff;
	border-radius: 10px;
	padding: 10px;
	height: 40px;
	transition: background-color 0.3s;
}

section#QuestPop span:hover, section#QuestUser span:hover
{
	background-color: #28bcc5;
	cursor: pointer;
	transition: background-color 0.3s;
}

section#QuestPop span.foc, section#QuestUser span.foc
{
	background-color: #28bcc5;
}

section.QuestTable
{
	width: 100%;
	background-color: #fff;
}

section.QuestTable table a, div.QuestBody a
{
	color: #666;
	transition: all 0.3s;
}

section.QuestTable table a:hover, div.QuestBody a:hover
{
	color: #28bcc5;
	transition: all 0.3s;
}

section.QuestTable ul.nav
{
	margin-top: 50px;
}

section.QuestTable table
{
	margin-top: 50px;
	margin-bottom: 50px;
}

section.QuestTable ul.pagination
{
	margin-bottom: -30px;
}

section.QuestTable td.votes {color:#3498db;}
section.QuestTable td.ans {color:#2980b9;}
section.QuestTable td.views {color:#105a8b;}

div.overlay
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.5); /*dim the background*/
}

div.messageBox
{
	position: relative;
	text-align: center;
	display: block;
	margin: auto;
	width: 300px;
	z-index: 101;
	background-color: #fff;
	margin-top: 10%;
	border-radius: 10px;
}

div.messageBox h4
{
	color: #3498db;
	padding: 5px;
}

div.messageBox p
{
	padding: 5px;
}

footer>nav.navbar
{
	color: #fff;
	line-height: 100px;
	height: 100px;
	margin: 0;
	border-radius: 0px;
	border: none;
	background-color: #363636;
	padding: 0;
	font-size: 1.3em;
}

footer>nav.navbar form
{
	margin: 0;
}

div.QuestBody
{
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 20px;
	padding-bottom: 0px;
	min-height: 140px;
	margin-bottom: 10px;
}

div.pseudo
{
	width: 100%;
	text-align: center;
}

div.arrows
{
	clear: both;
	display: block;
	text-align: center;
	width: 100%;
	height: 100px;
	line-height: 10px;
	margin-top: 5px;
}

div.arrows p
{
	margin: 10px;
}

.arrowUp
{
	font-size: 1.3em;
	transition: color 0.3s;
}

.arrowDown
{
	font-size: 1.3em;
	transition: color 0.3s;
}

.arrowUp:hover, div.arrows a.arrowUp:hover, div.panel-title a.arrowUp:hover
{
	cursor: pointer;
	color: #ffc600;
	transition: color 0.3s;
}

.arrowDown:hover, div.arrows a.arrowDown:hover, div.panel-title a.arrowDown:hover
{
	cursor: pointer;
	color: #00C0ff;
	transition: color 0.3s;
}

/*
div.panel-group 
{
	font-size: 0.5em;
}

div.panel-group a
{
	color: #ddd;
	font-size: 0.8em;
}

div.panel
{
	background-color: #777;
	color: #fff;
}
*/
div.panel>div.panel-heading
{
	padding: 3px 10px;
}

textarea
{
	border-radius: 5px;
	border: 1px solid #bbb;
	width: 100%;
}